.tabs {
    border-bottom: $tabs-border-sise solid $tabs-border-color;
    margin-bottom: 20px;
    li {
        background-color: $tabs-nav-bg-color;
        display: inline-block;
        padding: $tabs-nav-padding;
        cursor: pointer;
    }
    .tabs-active {
        color: $tabs-active-color;
        position: relative;
        cursor: default;
    }
    .tabs-active::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: $tabs-border-sise solid $tabs-border-color;
        border-bottom: $tabs-border-sise solid $tabs-nav-bg-color;
        border-radius: $tabs-border-radius;
        bottom: -$tabs-border-sise;
        left: 0;
    }
}

.tabs-panel {
    display: none;
}