@each $key-color, $color in $colors {
    @if map-get($color, text) {
        @each $key-size, $size in $buttons-size {
            .btn-#{$key-size}-#{"" + $key-color} {
                background-color: map-get($color, color);
                padding: map-get($size, padding);
                margin: map-get($size, margin);
                color: map-get($color, text);
                transition: $buttons-transition;
                cursor: pointer;
                @if map-get($size, border-radius) {
                    border-radius: map-get($size, border-radius);
                }
            }
            .btn-#{$key-size}-#{"" + $key-color}:hover {
                @if map-get($color, hover) {
                    background-color: map-get($color, hover);
                }
                @if map-get($color, text-hover) {
                    color: map-get($color, text-hover);
                }
            }
        }
    }
}