@each $key,
$color in $colors {
    .tag-#{"" + $key} {
        display: inline-block;
        background-color: $color;
        padding: $tag-padding;
        margin: $tag-margin;
        border-radius: $tag-border-radius;
    }

    .tag-lg-#{"" + $key} {
        display: inline-block;
        background-color: $color;
        padding: $tag-lg-padding;
        margin: $tag-lg-margin;
        border-radius: $tag-lg-border-radius;
    }
}