@each $key,
$color in $colors {
    .color-#{"" +$key} {
        color: $color;
    }

    .bg-#{"" + $key} {
        background-color: $color;
    }

    .tag-#{"" + $key} {
        display: inline-block;
        background-color: $color;
        padding: $tags-padding;
        margin: $tags-margin;
        border-radius: $tags-border-radius;
    }
}